@keyframes slide_left{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_down{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes opacity_time{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes rotate{
    100%{
        transform: rotate(405deg);
    }
}